.profilePage .profilName {
  font-size: 25px;
  margin-bottom: 20px;
  color: #1d537c;
  text-transform: capitalize;
  font-weight: 600;
}

.profilePage .navProfile {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.profilePage .navProfile .row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.profilePage .navProfile .row .images,
.profilNavModal .images {
  background-color: #ffb106;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePage .navProfile .row .images .imgs,
.profilNavModal .images .imgs {
  width: 95%;
  height: 95%;
  background-color: #F5F7FA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.profilePage .navProfile .row .images .imgs img,
.profilNavModal .images .imgs img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilePage .navProfile .row .images .imgs svg,
.profilNavModal .images .imgs svg {
  color: #434D54;
  font-size: 40px;
}

.profilePage .navProfile .row .userInfo {
  color: #1d537c;
}

.profilePage .navProfile .row .userInfo h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.profilePage .navProfile .row .userInfo h5 {
  width: 200px;
  font-size: 14px;
  text-transform: capitalize;
}

.profilePage .navProfile .point {
  font-size: 20px;
  color: #1d537c;
  font-weight: 600;
}

.profilePage .navProfile button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;
  color: #1d537c;
  border: 1px solid #1d537c;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.profilePage .profieInfo {

  box-shadow: 2px 2px 10px 0px #00000014;
  padding: 30px;
  border-radius: 20px;

}

.profilePage .profieInfo .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.profilePage .profieInfo .row .col {
  /* box-shadow: 2px 2px 2px; */
  width: 50%;
  padding: 0px 20px;
}

.profilePage .profieInfo .row h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 3px;
  color: #1a202c;
  text-align: left;

}

.profilePage .profieInfo .row h3 {
  color: #434D54;
  font-weight: 600;
  font-size: 18px;
}

.profilNavModal {
  margin-bottom: 20px;
}

.profilNavModal .editRow {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
  gap: 20px;
}

.profilNavModal .editRow .col {
  width: 50%;
}

.profilNavModal .editRow .col h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #434D54;
}

.profilNavModal .editRow .col textarea {
  background-color: #F5F7FA;
  width: 100%;
  outline: none;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E1E5E8;
}


.profilNavModal .editRow .col input {
  background-color: #F5F7FA;
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E1E5E8;
}

.profilNavModal .btns {
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;

}

.profilNavModal .btns button {
  padding: 8px 15px;
  background-color: #1d537c;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
}

.profilNavModal .btns button:nth-child(2) {
  background-color: #FF2D2D;
}

input[type="file"] {
  display: none;
  /* Standart fayl tanlash oynasini yashirish */
}

.custom-file-input {
  padding: 8px 15px;
  background-color: #1d537c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.custom-file-input:hover {
  background-color: #FFAB24;
}


@media (max-width: 640px) {
  .profilePage .profilName {
    font-size: 18px;
    padding-top: 20px;
  }

  .profilePage .navProfile {
    margin-bottom: 10px;

  }

  .profilePage .navProfile .row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;

  }

  .profilePage .navProfile .row .images,
  .profilNavModal .images {
    background-color: #ffb106;
    width: 70px;
    height: 70px;
  }

  .profilePage .navProfile .row .images .imgs svg {
    font-size: 30px;
  }



  .profilePage .navProfile .row .userInfo h2 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .profilePage .navProfile .row .userInfo h5 {
    width: 150px;
    font-size: 11px;
  }

  .profilePage .navProfile .point {
    font-size: 18px;
  }

  .profilePage .navProfile button {
    gap: 10px;
    bottom: 0px;
    right: 0px;
    padding: 5px 15px;
    background-color: transparent;
  }

  .profilePage .profieInfo {
    box-shadow: 0px 3px 50px 0px #00000014;
    padding: 20px;
    border-radius: 20px;
  }

  .profilePage .profieInfo .row {
    flex-direction: column;
    display: flex;
    align-items: self-start;
    gap: 10px;
    margin-bottom: 20px;
  }

  .profilePage .profieInfo .row h4 {
    font-size: 16px;
  }
}