.nav {
  padding: 15px 0px;
  position: fixed;
  z-index: 99;
  left: 0;
  background-color: #1E537D;
  top: 1px;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  color: #17222B;
  

}

.pageTitle {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 24px;
}

nav .container>div {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.modalBg {
  height: 100vh;
  width: 100%;
  position: fixed;

  background-color: rgba(0, 0, 0, 0);
  z-index: 9;
  backdrop-filter: blur(1px);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

.modalBg.active {
  transform: scale(1);
}

.navModal {
  width: 300px;
  position: absolute;
  background-color: #161718;
  top: 50px;
  right: 0px;
  padding: 15px 5px;
  background: white;
  color: #161718;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.329);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.navModal a {
  color: #161718;
  text-decoration: none;
}

.navModal.active {
  transform: scale(1);
}

.navModal .exit {
  font-size: 23px;
  text-align: end;
  cursor: pointer;
  background-color: white;
  margin-right: 10px;
}

.navModal .row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 10px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.navModal .row:hover {
  background-color: rgba(0, 0, 0, 0.068);
}

.navModal .row .div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navModal .row .div h3 {
  font-size: 16px;
  font-weight: 500;
}

.navModal .row .div span {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.068);
}

.navModal .row .div span svg {
  font-size: 18px;
}

.user span {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.logo {
  width: 270px;
}

@media (max-width: 640px) {
  .nav {
    padding: 0px !important;
  }

  nav .container {
    padding: 10px;
  }

  nav .logo {
    width: 100px;
  }

  nav .pageTitle h1 {
    display: none;
  }

  nav .logo img {
    width: 100%;
    object-fit: contain !important;
  }

  nav .user span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #707070;
    color: white;
    width: 30px;
    height: 30px;
  }

  nav .user .name {
    width: 100px;
  }

  .navModal {
    width: 260px;
    top: 40px;
    right: 0px;
    padding: 10px 5px;
    border-radius: 15px;
  }

  .navModal .exit {
    font-size: 20px;
    margin-right: 5px;
  }

  .navModal .row {
    margin-bottom: 15px;
    gap: 5px;
    font-size: 14px;
    padding: 5px 10px;
    padding-left: 5px;
    margin-left: 5px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }

  .navModal .row .div {
    gap: 5px;
  }

  .navModal .row .div h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .navModal .row .div span {
    height: 30px;
    width: 30px;
  }

  .navModal .row .div span svg {
    font-size: 16px;
  }
}