.new_add {
  background-color: #1E537D;
}

.custom-autocomplete {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}



.custom-autocomplete .MuiOutlinedInput-root {
  padding: 0px !important;
}

.custom-autocomplete .MuiInputLabel-root {
  top: 0px !important;
  margin-top: -7px !important;
}